<div class="crop-wrapper">
	<p><b>Hold mouse to crop image for slideshow</b></p>
	<%= form_for @article, url: "/articles/#{@article.id}", method: :get do |f| %>
  <%= f.cropbox :main_image, :width => 800 %>
  <%= f.crop_preview :main_image, :width => 400 %>
  <%= f.submit 'Publish article!' %>
<% end %>
</div>